<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <h3>Edit your listing</h3>
        <input type="text" name="listing[title]" value="<%= listing.title %>" id="">
        <br><br>
        <textarea name="listing[description]"> "<%= listing.description %>"></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%= listing.image %>" id="">
        <br><br>
        <input type="number" name="listing[price]" value="<%= listing.price %>">
        <br><br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" id="">
        <br><br>
        <input type="text" name="listing[location]"value="<%= listing.location%>">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>